<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head.ejs') %>
    <title>Created</title>
  </head>
  <body>
    <div class="container mt-5">
      <h5>Created! <br /><a href="/dashboard/users">Back to Players list</a></h5>
    </div>
  </body>
</html>
