<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/game.css">
  </head>

  <body>
    <header>
      <a href="/"><</a>
      <img src="./img/game/logo.png" alt="">
      <h1>ROCK PAPER SCISSORS</h1>
    </header>
    <main>
      <div id="player1">
        <h2>PLAYER 1</h2>
        <div class="player1Sign">
          <img src="./img/game/batu.png" alt="batu"><br>
        </div>
        <div class="player1Sign">
          <img src="./img/game/kertas.png" alt="kertas"><br>
        </div>
        <div class="player1Sign">
          <img src="./img/game/gunting.png" alt="gunting">
        </div>
      </div>
      <div id="versus">
        <p class="versus">V S</p>
      </div>
      <div id="computer">
        <h2>COM</h2>
        <div class="computerSign">
          <img src="./img/game/batu.png" alt="batu">
        </div>
        <div class="computerSign">
          <img src="./img/game/kertas.png" alt="kertas">
        </div>
        <div class="computerSign">
          <img src="./img/game/gunting.png" alt="gunting">
        </div>
      </div>
      <input id="refresh-button" type="image" onclick="refreshButton()" src="./img/game/refresh.png">
    </main>
    <script src="./js/game.js"></script>
  </body>

</html>
